@import 'style/theme.less';

.menu-sidebar {
  background-color: @info-bg;

  .menu-sidebar-header {
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }

  .menu-sidebar-body {
    height: calc(100vh - 66px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
