.member-tabpane {
  .member-tabpane-header {
    position: relative;
    height: 32px;
    margin-bottom: 12px;
  }

  .member-tabpane-name {
    line-height: 32px;
    font-weight: 600;
  }

  .member-tabpane-extra {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
