.form-item {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  padding: 8px 12px;
  .form-item-label {
    width: 80px;
    display: inline-block;
    text-align: left;
    padding: 0px 16px;
    line-height: 32px; 
  }
  .form-item-ele {
    flex: 1;
  }
}