@import "style/theme.less";
.selected-list {
  border: 1px solid #eaeaea;
  .selected-list-header {
    height: 32px;
    line-height: 32px;
    position: relative;
    padding: 0px 20px 0px 10px;
  }
  .selected-header-name {
    color: @heading-color;
  }
  .selected-header-extra {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: @primary-color;
    cursor: pointer;
    &.diabled-action {
      cursor: not-allowed;
      color: @text-color-secondary;
    }
  }
  .selected-count {
    font-weight: 600;
    font-size: 18px;
    padding: 0px 4px;
  }
  .selected-list-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 12px 10px;
  }
}

.seleced-list-item {
  padding: 6px 24px 6px 0px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 4px;
  position: relative;
  &:nth-last-of-type(1) {
    margin-bottom: 0px;
    border-bottom: 0 none;
  }
  .remove-action {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    &:hover {
      color: rgba(0, 0, 0, 0.85);
    }
  }
}