@import "style/theme.less";
.chart-item {
  .chart-item-header {
    position: relative;
    .chart-options {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    margin-bottom: 12px;
  }
  .chart-item-name {
    color: @heading-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}