@rootSize: 3.75vw;

* {
  box-sizing: border-box;
}

html,
body,
p,
h6, ul, li {
  margin: 0px;
  padding: 0px;
}
ul, li {
  list-style: none;
}
body {
  padding: (10 / @rootSize) 0px;
}

.product-content {
  display: none;
}
.product-infos {
  padding: 0px (14 / @rootSize);
}
.product-pics {
  height: (187/ @rootSize);
  position: relative;
  overflow: hidden;
  margin-bottom: (22 / @rootSize );
  .product-pic-content {
    height: (187/ @rootSize);
    width: 100vw;
    position: absolute;
    transition: all 0.16s;
    left: 0px;
    top: 0px;
    &::after {
      content: "";
      clear: both;
      overflow: hidden;
      visibility: hidden;
      display: block;
      height: 0px;
      zoom: 1;
    }
  }

  .img-wrap {
    width: 100vw;
    height: (187/ @rootSize);
    float: left;
    background-color: #efeded;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .pic-pager {
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    border-radius: (10 / @rootSize);
    font-size: (12 / @rootSize);
    padding: (4 / @rootSize) (6 / @rootSize);;
    right: (6 / @rootSize);
    bottom: (6 / @rootSize);
  }
}

.product-name-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: (16 / @rootSize);

  .product-name {
    font-size: (14 / @rootSize);
    line-height: (20 / @rootSize);
    color: #000;
  }

  .product-price {
    font-size: (16 / @rootSize);
    line-height: (26 / @rootSize);
    color: #000;
  }
}

.product-category-info {
  margin-bottom: (26 / @rootSize );
  display: flex;
  justify-content: space-between;
  .product-category {
    display: inline-block;
    padding: (6 / @rootSize) (12 / @rootSize);
    background-color: #EFEDED;
    border-radius: 4px;
    color: #7E7A7A;
    font-size: (12 / @rootSize);
    line-height: (12 / @rootSize);
  }
  .views-count {
    max-width: 40%;
    word-break: break-all;
  }
}

.product-code-info {
  margin-bottom: (18 / @rootSize );
  display: flex;
  justify-content: space-between;
  align-items: center;
  .product-code-label {
    color: rgba(0, 0, 0, 0.85);
  }
}

.product-attr-info {
  margin-bottom: (18 / @rootSize );
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }
  .product-attr-label {
    color: rgba(0, 0, 0, 0.85);
  }
}

.product-attr {
  margin-bottom: (22 / @rootSize );
  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }
}