@import "style/theme.less";
.tabs {
  background-color: #fff;
  border-radius: @border-radius-base;
  padding-top: 18px;
 :global {
   .adm-tabs-content {
     min-height: 300px;
   }
 }
}
.empty-section {
  padding: 10px;
}
.stat-info {
  padding: 40px 0px 24px 0px;
  background-color: #fff;
  border-radius: @border-radius-base;
  margin-bottom: 12px;
}
.tab-panle {
  padding: 0px;
}
.send-list {
  .send-list-item {
    display: flex;
    justify-content: space-between;
    background-color: @info-bg;
    margin-bottom: 2px;
    height: 55px;
    align-items: center;
    padding: 5px 7px;
    border-radius: @border-radius-base;
    margin-bottom: 4px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }
  .send-item-extra {
    color: @primary-color;
  }
}