@import "style/theme.less";
.page {
  padding: 72px 20px 20px 20px;
  .page-title {
    color: @heading-color;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 32px;
  }
  .content {
    .tip-text {
      color: @heading-color;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }
    .actions {
      text-align: center;
    }
  }
}