@import "style/vars.less";

.page {
  background-color: #fff;

  .page-body {
    @outside: 130px;
    height: calc(100vh - @outside);
    overflow-y: auto;
  }
  .add-rule {
    margin-top: 16px;
  }
  .page-footer {
    text-align: center;
    padding-top: 16px;
    border-top: 1px solid #eaeaea;
  }
}