@import "style/theme.less";
.search-bar {
  --background: @border-color !important;
}
.mass-page {
  padding: 0px @body-spacing @body-spacing;
  background-color: #fff;
  .mass-search {
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    padding-bottom: 12px;
    padding: @body-spacing 0px 12px 0px;
  }
}
.page-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .add-icon-btn {
    font-size: 32px;
    color: @primary-color;
  }
}