@import "style/theme.less";

.cooperator-select {
  .cooperator-ul {
    background-color: @info-bg;
    padding: 8px;
    border-radius: @border-radius-base;
    margin-bottom: 14px;

    .cooperator-li {
      padding: 6px 160px 6px 0px;
      border-bottom: 1px solid @border-color;
      position: relative;

      &:nth-last-of-type(1) {
        border-bottom: none;
      }

      .switch-item {
        display: inline-block;
      }

      .cooperator-extra {
        position: absolute;
        right: 0px;
        top: 0px;
        line-height: 34px;
      }

      .switch-item {
        position: relative;
        display: inline-block;
        width: 130px;
        height: 32px;
        vertical-align: middle;
        .switch-ele {
          vertical-align: middle;
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }

        .switch-item-name {
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .cooperator-action {
        margin-left: 8px;
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
}