@import "style/theme.less";

.status-color(@color) {
  background-color: @color;
}

.status-item {
  display: inline-block;
  padding: 4px 16px;
  // background-color: @green;
  border-radius: @border-radius-base;
  color: #fff;
  font-size: 12px;

  //   line-height: 20px;
  &.status-color-green {
    .status-color(@green);
  }

  &.status-color-yellow {
    .status-color(@yellow);
  }

  &.status-color-pink {
    .status-color(@pink);
  }

  &.status-color-blue {
    .status-color(@blue);
  }
}