package ${package}.dto;

import java.util.Date;

import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Data;
import lombok.experimental.Accessors;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import org.springframework.format.annotation.DateTimeFormat;

import javax.validation.constraints.NotBlank;

/**
 * @author ${author}
 * @since ${date}
 */
@Data
@Accessors(chain = true)
@ApiModel(value = "$!{table.comment}新增DTO")
public class ${entity}SaveDTO {

    ## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
    #if(!${field.keyFlag})
        #if("$!field.comment" != "")
    @ApiModelProperty(value = "${field.comment}")
        #end
        #if($field.propertyType == "Date")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
        #end
    private ${field.propertyType} ${field.propertyName};
    #end

#end
}
