@import "style/theme.less";
.attrs-container {
  .add-attr-btn {
    margin-bottom: 10px;
  }
}
.attrs-form-item {
  position: relative;
  background-color: @info-bg;
  margin-bottom: 12px;
  border-radius: @border-radius-base;
  padding: 10px 40px 0px 0px;
  .remove-action {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    color: @primary-color;
  }
}