@import "style/theme.less";
.popup-content {
  height: 30vh;
  overflow-y: auto;
  padding: 12px;
}
.stage-item {
  padding: 18px 14px;
  background-color: @info-bg;
  border-radius: @border-radius-base;
  margin-bottom: 10px;
}