@import "style/theme.less";

.file-item {
  position: relative;
  width: 100%;
  padding-left: 32px;
  min-height: 24px;
  .file-item-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .file-item-name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}