@import "style/theme.less";
.product-name-label {
  position: relative;
  .select-lib-text {
    position: absolute;
    right: 0px;
    top: 0px;
    color: @primary-color;
    cursor: pointer;
  }
}