@import "style/theme.less";

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: @body-spacing;
  border-top: 1px solid @border-color;
}

.popup-content {
  .material-search {
    --background: @border-color  !important;
  }
}