@import "style/vars.less";

.transferContainer {
  width: 100%;
  .leftColContent {
    padding-bottom: 20px;
  }
  .footer-divider {
    margin: 0px;
  }
  .rightCol {
    .list-item {
      padding-right: 20px;
    }
  }
}
