@import "style/theme.less";
.detail-table {
  .detail-thead-tr {
    .detail-cell {
      color: @heading-color;
    }

    margin-bottom: 20px;
  }
  .tr-action {
    width: 24px;
    min-width: 24px;
    display: inline-block;
  }
  .action-cell {
    width: 24px;
    min-width: 24px;
    display: inline-block;
    text-align: right;
    .more-icon {
      transform: rotate(90deg);
    }
  }
  .detail-tr {
    display: flex;
    margin-bottom: 8px;

    .detail-cell {
      flex: 1;
      word-break: break-all;
    }
  }
  .empty-content {
    height: 40px;
    text-align: center;
  }
}