@import "style/theme.less";
.loading-page {
  padding: @body-spacing;
}
.add-opp-form {
  background-color: @info-bg;
  :global {
    .adm-list-card {
      margin: 0px;
    }
    .adm-list-body {
      background: @info-bg;
      border-bottom: none;
    }
    .adm-list-item{
      background: @info-bg;
    }
    .adm-form-item-child {
      background-color: #fff;
      padding: 12px 6px;
      border-radius: @border-radius-base;
    }
    .adm-list-item-content {
      border-top: none;
    }
    .adm-list-item-content-main {
      padding-bottom: 0px;
    }
  }
}

.select-item {
  position: relative;
  padding-right: 30px;

  .select-content {
    word-break: break-all;
  }
  .select-placeholder {
    color: #C5C4C4;
  }

  .select-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.user-tag {
  margin: 0px 4px 4px 0px;
}