@import "style/theme.less";
.info-side {
 .info-side-title {
   font-size: 16px;
   color: @heading-color;
   line-height: 24px;
   margin-bottom: 8px;
 }
 .divider-line {
   margin: 12px 0px;
   border-top: 1px solid #eaeaea;
   height: 0px;
 }
}
