@import "style/theme.less";
.panle-list {
  padding-right: 12px;
  margin-left: 12px;
}

.list-item-wrap {
  :global {
    .adm-list-item-content-main {
      padding: 0px;
    }
  }
  margin-bottom: 12px;
}

.list-item {
  display: flex;
  padding-left: 12px;
  border: 1px solid @border-color;
  border-radius: @border-radius-base;
  .list-item-radio {
    padding-top: 14px;
    margin-right: 8px;
  }
  &.list-check-item {
    background-color: fade(@primary-color, 5%);
  }
  .list-item-content {
    flex: 1;
    border: none;
  }
}
