/node_modules
/cert
/.pnp
.pnp.js

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local




.DS_Store
node_modules/
build/
.idea/
cert/
target/
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.log

bootstrap-dev.yml
bootstrap-pd.yml
bootstrap-local.yml
bootstrap-test.yml
bootstrap-prod.yml
/scrm-web/scripts/config.js