@import "style/theme.less";
.status-item {
  display: inline-block;
  padding: 0px 16px;
  background-color: @green;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
}