@import "src/styles/theme.less";
.qcode-img {
  width: 100%;
}
.invite-section {
  border-radius: 10px;
  padding-bottom: 40px;
  .current-invite-tip {
    color: @primary-color;
    text-align: center;
    margin-bottom: 20px;
  }
  .power-user-section {
    padding-top: 20px;
    .no-power-user {
      color: @primary-color;
      text-align: center;
    }
  }
  // 当前邀请进度
  .stage-content {
    padding-top: 20px;
  }
}
