@import 'style/vars.less';

.tag-group-item {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;

  .group-name {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
  }

  .tag-item {
    margin-bottom: 4px;
    cursor: pointer;
  }
}