@import "style/theme.less";
.remark-preview {
  .remark-input {
    margin-bottom: 12px;
  }
  .remark-tip {
    color: @text-color-secondary;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 6px;
    .remark-label {
      color: @heading-color;
      margin-right: 6px;
      font-size: 14px;
    }
    .remark-icon {
      margin-right: 2px;
    }
  }
  .remark-avatar-preview {
    background: @info-bg;
    border-radius: 6px;
    padding: 12px;
  }
}