@import "style/theme.less";
.customer-partner-page {
  padding: @body-spacing;
  .page-stat-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  .total-info {
    color: @heading-color;
    .total-num {
      margin: 0px 2px;
    }
  }
  .action-text-btn {
    cursor: pointer;
    color: @pink;
  }
}

.infinite-list {
  .ios-substract(height, 100vh, 40px);
}
.list-item {
  padding: 16px 0px 0px 30px;
  :global {
    .adm-list-item-content-main {
      padding: 0px;
    }
  }
}
.user-item {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid @border-color;
  padding: 0px 16px 0px 48px;
  .user-item-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    left: 0px;
    top: 0px;
  }
  .user-item-time {
    margin-left: 4px;
  }
  .user-item-footer {
    font-size: 12px;
    color: @text-color-secondary;
  }
  .user-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    margin-bottom: 16px;
  }
}
