@import "style/theme.less";

.search-bar {
  padding: @body-spacing @body-spacing 12px @body-spacing;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: @body-color;
}

.type-tabs {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 0px @body-spacing 12px @body-spacing;
  padding: 8px 0px;
  // position: sticky;
  // top: 48;
  // z-index: 1;
}

.type-radio {
  :global {
    .ant-radio-button-wrapper {
      border-color: @primary-color;
      color: @primary-color;
    }
  }
}

.tabs-content {
  background-color: #fff;
  padding: 6px 0px;
}