@import "style/theme.less";

.description-item {
  margin-bottom: 12px;
  .item-label {
    color: @text-color;
    font-size: 12px;
  }
  .item-content {
    color: @heading-color;
    font-size: 16px;
  }
}