@import "style/theme.less";

.error-msg {
  text-align: center;
  color: @heading-color;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.tip-line {
  color: @text-color;
  font-size: 12px;
  .tip-no {
    margin-right: 4px;
  }
}
.actions {
  text-align: center;
  padding-top: 14px;
}