
.group-count-text {
  margin-left: 4px;
  .group-count {
    font-family: 'HarmonyBold';
  }
}
.customer-item {
  width: 160px;
  display: inline-block;
  margin: 0px 4px 4px 0px;
  border: 1px solid #eaeaea;
  padding: 4px 0px 4px 4px;
  border-radius: 4px;
}