@import "style/theme.less";

.info-section {
  border-bottom: 1px solid #eaeaea;
  padding-top: 16px;
  .info-section-title {
    color: @heading-color;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .info-section-body {
    padding: 16px 0px;
  }
}