@import "style/theme.less";

.customer-select {
    :global {
      .ant-select-selection-item { 
        .wechat-cell {
           padding-left: 28px;
           min-height: 28px;
        }
        .wechat-cell-img {
          width: 24px;
          height: 24px;
          top: 3px;
        }
      }
    }
}