
.article-content {
  .article-title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 14px;
    color: #333;
  }
  .article-abstract {
    color: #222;
    font-size: 16px;
    line-height: 1.75em;
    padding: 6px;
    background: #fafafa;
    margin-bottom: 6px;
  }
  .article-body {
    font-size: 14px;
  }
}