@import "style/theme.less";
  // 顶部padding: 20;搜索栏+margin: 44;tabs：60;tab内容边距:12
@outsideHeight: 20px + 44px + 60px + 12px;
.panle-list {
  .ios-substract(height, 100vh, @outsideHeight);
  padding: 0px @body-spacing;
  overflow-y: auto;
  .infinite-list {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .infinite-li-item {
    overflow: hidden;
    text-overflow: ellipsis;
    :global {
      .adm-list-item-content-main {
        padding: 0px;
      }
    }
  }
  // 
  .list-item {
    border: 1px solid @border-color;
    border-radius: @border-radius-base;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    .list-item-content {
      padding: 8px;
      border-bottom: none;
    }
    &.list-item-with-footer {
      .list-item-content {
        margin-right: 24px;
        border-bottom: 1px solid @border-color;
      }
    }
    .list-item-footer {
      @height: 30px;
      text-align: right;
      height:@height;
      line-height: @height;
      padding-right: @height;
      color: @primary-color;
      cursor: pointer;
    }
    .send-icon {
      transform: rotate(90deg);
    }
  }
  .test-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .test-text {
    white-space: nowrap;
  }
}
