.page {
  // position: relative;
  // padding-bottom: 100px;
  // display: flex;
  // flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  user-select: none;
  
  .page-body {
    padding: 20px 14px;
  }
  .user-poster {
    .user-poster-img {
      border-radius: 8px;
      border: 2px solid rgba(255, 240, 217, 1);
    }
    margin-bottom: 12px;
  }

  .share-tip {
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
}