@import "style/theme.less";

.file-upload {
  margin-bottom: 0px;
}

.file-form-item {
  padding-bottom: 16px;
  :global {
    .adm-list-item-content-main {
      margin-bottom: 0px;
    }
    .adm-list-item {
      padding-bottom: 16px;
    }
    .adm-form-item-child {
      background-color: @body-color;
      padding: 0px;
      display: block;
    }
    .adm-list-item-content {
      display: block;
      // display: inline-block;
    }
  }
}