@import "style/theme.less";
.detail-page {
  padding: @body-spacing;
}
.mass-item {
  margin-bottom: 14px;
}
.radio-tabs {
  display: flex;
  justify-content: center;
  padding: 9px 0px;
  margin-bottom: 8px;
}