@import "style/theme.less";
.follow-reply-item {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: @border-radius-base;
  padding: 10px;
  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }
  .follow-reply-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .follow-reply-text {
     font-size: 12px;
  }
  .follow-reply-actions {
    text-align: right;
    .remove-action {
      color: @pink;
      cursor: pointer;
    }
  }
  .reply-staff {
    color: @heading-color;
    margin-right: 4px;
    font-weight: 600;
  }
  .be-reply-staff {
    margin-left: 4px;
  }
  .reply-time {
    max-width: 40%;
    word-break: break-all;
    white-space: nowrap;
    color: @text-color-secondary;
    .reply-date {
      margin-right: 6px;
    }
  }
}