@import 'style/theme.less';

@iconColor: #949494;
.userSideBar {
  width: 60px;
  background: #E4E6E8;
  height: 100vh;
  padding-top: 20px;
  text-align: center;
  position: relative;

  .userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 24px;
  }

  .logoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 12px;
  }
  .userSiderBarFooter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .action-icon {
    color: @iconColor;
    font-size: 24px;
    cursor: pointer;
    padding: 4px 0px;
    &:hover {
      color: @primary-color;
    }
    &.active-icon {
      color: @primary-color;
    }
  }
  .sys-icon {
    margin-bottom: 10px;
  }
  .notice-icon {
    margin-bottom: 10px;
  }
}

.user-popover-content-overlay {
  width: 160px;
  :global {
    .ant-popover-inner-content {
      padding: 6px 0px;
    }
  }
}
.user-popover-content {
  .menu-item {
    cursor: pointer;
    padding: 6px 0px 6px 12px;
    .menu-item-icon {
      margin-right: 10px;
    }
    &:hover {
      background-color: #fafafa;
      color: @primary-color;
    }
  }
}