// 引入官方提供的 less 样式入口文件
@import "style/theme.less";
@font-face {
  font-family: 'HarmonyRegular';
  src: url("./assets/font/HarmonyOS_Sans_Regular.ttf");
}

body {
  background-color: unset;
}
html,body {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
  margin: 0;
  padding: 0px;
}
ul,li {
  list-style: none;
}
html, body {
  height: 100%;
}
body {
  font-family: 'HarmonyRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
#root {
  background-color: @body-color;
  min-height: 100%;
}
:root {
  --pump-size: 0;
}
:root:root {
  --adm-color-primary: @primary-color;
  --adm-font-size-main: 12px;
  --adm-font-family: 'HarmonyRegular', -apple-system, blinkmacsystemfont, 'Helvetica Neue',
  helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
  'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --adm-font-size-1: 8px;
  --adm-font-size-2: 8px;
  --adm-font-size-3: 10px;
  --adm-font-size-4: 10px;
  --adm-font-size-5: 12px;
  --adm-font-size-6: 12px;
  --adm-font-size-7: 14px;
  --adm-font-size-8: 14px;
  --adm-font-size-9: 14px;
  --adm-font-size-10: 18px;
  --border-radius: 6px;
  .adm-nav-bar-left {
    font-size: 18px;
  }
}