@import "style/theme.less";
.state-item {
  border-radius: 6px;
  border: 1px solid #eaeaea;
  padding: 16px;
  margin-bottom: 12px;
  .state-item-title {
    color: @heading-color;
    font-size: 16px;
    margin-bottom: 12px;
  }
}
.step-item {
  .step-item-name {
    color: @text-color;
    margin-bottom: 8px;
  }
  .step-item-content {
    border-left: 2px solid @primary-color;
    padding-left: 12px;
    min-height: 24px;
    margin-left: 0.5em;
  }
}