@import "style/theme.less";
.file-upload {
  margin-bottom: 0px;
}
.file-form-item {
  :global {
    .adm-form-item-child {
      background-color: @body-color;
      padding: 0px;
    }
  }
}