.page {
  flex: 1;
  justify-content: center;
  .page-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .qcode-box {
      width: calc(100% - 80px);
      background: #fff;
      border-radius: 6px;
      text-align: center;
      padding: 30px 14px;
    }
    .qcode-img {
      margin-bottom: 14px;
      width: 160px;
      height: 160px;
    }
    .tip {
      margin-bottom: 14px;
      color: #666;
    }
  }
}