.file-form-item {
  :global {
    .adm-list-item-content-main {
      overflow: hidden;
      & > {
        .adm-form-item-child {
          display: unset;
          white-space: nowrap;
        }
      }
    }
  }
}
.product-btns {
  display: flex;
  justify-content: center;
  .choose-btn {
    margin-right: 10px;
  }
}
.collectionAmountInput {
  :global {
    .adm-input-element {
      text-align: right;
    }
  }
}
.user-select-item {
  cursor: pointer;
  // text-align: right;
  .select-icon {
    margin-left: 4px;
  }
}
.orderAmountSign {
  margin-right: 2px;
}
.row-desc {
  background-color: @info-bg;
  padding-left: 10px;
  font-size: 10px;
  line-height: 22px;
}
.edit-action {
  color: @primary-color;
}
.remove-action {
  color: @pink;
}