@import "style/theme.less";
.choose-btn {
  margin-bottom: 10px;
}
.select-section {
  .part-actions {
    display: inline-block;
    vertical-align: middle;
  }
  .ellipsis-text {
    color: @primary-color;
  }
  .look-action {
    color: @primary-color;
    cursor: pointer;
    margin-left: 4px;
  }
}