@import "style/theme.less";

.rule-item {
  background: @info-bg;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
  width: 540px;

  .rule-item-header {
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D2D2D7;
  }

  .rule-title {
    color: @heading-color;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .msg-content {
    margin-bottom: 12px;
  }

  .info-label {
    color: @text-color-secondary;
    margin-right: 4px;
    font-size: 12px;

    &::after {
      content: ":";
      padding: 0px 4px;
      color: @text-color-secondary;
    }
  }

  .send-time-item {
    margin-bottom: 10px;
  }
}

.collapse-panel {
  &.disabled-collapse-panel {
    :global {
      .ant-collapse-header {
        cursor: default !important
      }
    }
  }

  :global {
    .ant-collapse-header {
      padding-left: 0px !important;
      border-bottom: 1px solid #D2D2D7;
      margin-bottom: 12px;
      font-weight: 600;
      color: @heading-color  !important;
    }

    .ant-collapse-content-box {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }
  }
}

.execute-result-item {
  border-radius: 6px;
  background-color: #fff;
  padding: 14px 20px;
  margin-bottom: 12px;
  .execute-time-text {
    font-weight: 600;
    font-size: 16px;
    font-family: 'HarmonyBold';
  }
}

.execute-item {
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 6px;
  padding: 14px 14px 16px 14px;
  .execute-item-header {
    margin-bottom: 8px;
    font-weight: 500;
  }
  .execute-time {
    color: @heading-color;
    font-weight: 600;
    margin-right: 8px;
    font-family: 'HarmonyBold';
    font-size: 16px;
  }
  .count-item {
    font-family: 'HarmonyBold';
    margin: 0px 4px;
    font-size: 16px;
  }
}