@import "style/theme.less";
@footerHeight: 48px;
@headerHeight: 48px;
.page {
  height: 100vh;

  .page-body {
    height: 100%;
    overflow-y: auto;
  }
  .skeleton-body {
    padding: @body-spacing;
  }
  .page-header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0px;
    left: 0px;
    z-index: 4;
    border-bottom: 1px solid #eaeaea;
    height: @headerHeight;
  }

  .page-footer {
    width: 100%;
    z-index: 1;
    position: fixed;
    border-top: 1px solid #eaeaea;
    background-color: #fff;
    bottom: 0px;
    left: 0px;
  }
}
.has-footer {
  .page-body {
    .ios-padding(padding-bottom, @footerHeight);
  }

  .page-footer {
    .ios-padding(padding-bottom);
    .ios-padding(height, @footerHeight);
  }
}

.page-with-header {
  .page-body {
    padding-top: @headerHeight;
  }
}