@import "style/theme.less";

.filter-tip {
  position: relative;
  padding: 6px 60px 0px 18px;
  word-break: break-all;
  width: 50%;

  .info-icon {
    position: absolute;
    left: 0px;
    top: 10px;
    color: @primary-color;
  }

  .filter-res {
    position: absolute;
    right: 4px;
    bottom: 0px;
  }

  .look-action {
    margin-left: 8px;
    color: @primary-color;
    cursor: pointer;
  }

  .filter-res-count {
    color: @primary-color;
  }
}

.filters-box {
  background: #fafafa;
  padding: 10px 12px;
  border-radius: 4px;
}