@import "style/theme.less";
.success-page {
  padding-top: 24px;
  .success-content {
    text-align: center;
    margin-bottom: 112px;
  }
  .success-icon {
    font-size: 112px;
    color: #57A65B;
    margin-bottom: 46px;
  }
  .success-tip {
    font-size: 24px;
    color: #000;
  }
  .back-btn {}
  .primary-btn {}
  .success-footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
  }
}