@import "style/theme.less";

.addCompanyModal {
  .inputWrap {
    margin-bottom: 12px;
  }

  .customerLabel {
    font-size: 12px;
    margin-bottom: 8px;
    color: @text-color;
  }
  .tagSelection {
    overflow: auto;
    height: 200px;
  }

  .no-tags {
    color: @text-color-secondary;
    font-size: 12px;
  }
}

.total-num {
  color: @heading-color;
  font-weight: 600;
  padding: 0px 2px;
}
.count-num {
  color: @primary-color;
  font-weight: 600;
  padding: 0px 2px;
}
.label-colon {
  padding: 0px 2px;
}