.time-item {
  display: inline-block;
  line-height: 1;
  .time-trigger {
    color: @heading-color;
    margin-right: 4px;
    font-weight: 600;
  }

  .time-count {
    font-family: 'HarmonyBold';
    font-size: 18px;
    padding: 0px 2px;
  }
}