.journey-statics {
  margin-bottom: 24px;
}
.journey-item {
  border: 1px solid #eaeaea;
  margin-bottom: 12px;
  border-radius: 4px;
  .journey-item-header {
    margin-bottom: 24px;
  }
  .journey-name {
    background-color: red;
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
  }
  .journey-stage-count {
    margin-left: 6px;
  }
  .journey-item-content {
    padding: 0px 24px;
    margin-bottom: 24px;
  }
  .stage-item {
    display: inline-block;
    width: 100% / 6;
    padding: 0px 12px;
  }
  .stage-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .stage-num {
    font-family: 'HarmonyBold';
    font-size: 24px;
  }
}