@import "style/theme.less";

.search-form-container {
  width: 100%;
  background: #fff;
  transition: all 0.2s;
}

.search-col {
  margin-bottom: 16px;
}

.searchBtn {
  margin-right: 8px;
}

.serach-btn-col {
  .serach-col-mode-right {
    text-align: right;
  }
}

.hide-arrow {
  transform: rotate(175deg);
  transition: all 0.2s;
}

.hide-text {
  cursor: pointer;

  &:hover {
    color: @primary-color;
  }
}