@import './vars.less';
@primary-color: #306FDB;
@heading-color: #000;
@text-color: #666;
@text-color-secondary: #7E7A7A;
@info-bg: #FBFBFD;
@border-color: #EFEDED;
@border-radius-base: 6px;
@body-color: #f2f1f5;
@body-spacing: 10px;
@headerBgColor: #3A75C5;