/scrm-common/target/
/scrm-common/scrm-common.iml
/scrm-server/target/
/scrm-server/scrm-server.iml
/scrm-web/target/
/scrm-web/scrm-web.iml
/.idea/
/scrm-api/scrm-api.iml
/scrm-api/scrm-wx-cp-api/target/
/scrm-api/scrm-wx-cp-api/scrm-wx-cp-api.iml
/scrm-gateway/scrm-gateway.iml
/scrm-server/scrm-wx-cp/scrm-wx-cp.iml
/scrm-server/scrm-wx-cp/target/
/scrm-server/scrm-office-plugin/scrm-office-plugin.iml
/scrm-server/scrm-office-plugin/target/
/scrm-server/scrm-file-view/scrm-file-view.iml
/scrm-server/scrm-file-view/target/
/max-scrm-server.iml
、scrm-server.iml
/scrm-gateway/target/
/tmpPath/
/scrm-server/scrm-cms/target/classes/
/scrm-server/scrm-cms/scrm-cms.iml
/scrm-api/scrm-cms-api/target/
/scrm-api/scrm-cms-api/scrm-cms-api.iml
