@import "style/theme.less";
.desc-info {
  margin-bottom: 12px;
}
.info-li {
  :global {
    .adm-list-item-content-extra {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.priority-item {
  position: relative;
  padding-left: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  &::before {
    content:'';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  &.high-priority::before {
    background-color:@red;
  }
  &.middle-priority::before {
    background-color: @yellow;
  }
  &.low-priority::before {
    background-color: @gray;
  }
  .priorityName {
    word-break: keep-all;
    white-space: nowrap;
  }
}