.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
}

.row-dragging td {
    padding: 16px;
}

.row-dragging .drag-visible {
    visibility: visible;
}

.toolbar {
    margin-bottom: 15px;
}

.actionItem {
    cursor: pointer;
    margin-right: 8px;
    color: @primary-color;

    // &:hover {
    //   color: @primary-color;
    // }


}

.disabled {
    color: #888;
}