@import "style/theme.less";

.select-item {
  position: relative;
  padding-right: 30px;

  .select-content {
    word-break: break-all;
  }
  .select-placeholder {
    color: #C5C4C4;
  }

  .select-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}