@import "style/theme.less";
.moment-page {
  min-height: 100vh;
  padding-bottom: @body-spacing;
}
.infinite-list {
  background-color: @body-color;
  overflow-y: auto;
}
.list-content {
  background-color: #fff;
  padding: @body-spacing @body-spacing 0px @body-spacing;
}