@import "style/theme.less";

.talk-script-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: @body-color;
  padding: @body-spacing @body-spacing 0px @body-spacing;

  .search-wrap {
    margin-bottom: 12px;
  }
}

.talk-script-page {
  // padding: 0px 20px;
  min-height: 100vh;

  .no-search-content {

    overflow-y: auto;
  }

  .categroy-section {
    padding-bottom: 12px;

    .category-tabs {
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
  }

  .tag-section {
    padding: 0px @body-spacing;
    margin-bottom: 16px;
  }

  .tag-panel-content {
    background-color: #fff;
    padding: 10px;
    border-radius: @border-radius-base;
    overflow-y: auto;
  }

  .tag-panel {
    background-color: @body-color;
    .tag-panel-title {
      color: #000;
    }
    :global {
      .adm-collapse-arrow {
        color: #000;
      }
    }
  }
}