@import "style/theme.less";
.add-task-page {
  padding: @body-spacing;
  .task-form {
    :global {
      .adm-list-card {
        margin: 0px;
      }
      .adm-list-body {
        background: none;
      }
      .adm-list-item.adm-form-item {
        margin-bottom: 14px;
        border-radius: @border-radius-base;
      }
      .adm-form-footer {
        padding: 0px 0px 14px 0px;
      }
    }
    .owner-item {
      padding: 0px 10px 0px 0px;
      :global {
        .adm-list-item-content:nth-of-type(1) {
          padding-right: 0px;
        }
      }
    }
    .deadine-item {
      padding: 0px 10px 0px 0px;
      :global {
        .adm-list-item-content:nth-of-type(1) {
          padding-right: 0px;
        }
      }
    }
  } 
}