.files-section {
  margin-bottom: 12px;

  .files-ul {
    margin-bottom: 8px;
  }

  .files-title {
    margin-bottom: 10px;
  }

  .record-icon-btn {
    margin-left: 12px;
  }
}

.record-tip {
  margin-left: 21px;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 4px;
  .recording-icon {
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
  .record-time {
    color: @heading-color;
    vertical-align: middle;
  }
  .record-upload-tip {
    color: @primary-color;
  }
}
.upload-handler-section {
  padding-top: 10px;
}

.icon-wrap {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #EFEDED;
  font-size: 20px;
  color: #C5C4C4;
  touch-action:none;
  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
}