@import "style/theme.less";

.opp-item {
  background-color: @info-bg;
  border-radius: @border-radius-base;
  padding: 12px 8px 0px 14px;
  .opp-item-header {
    display: flex;
    justify-content: space-between;
    color: @heading-color;
    font-weight: 600;
    margin-bottom: 6px;
    .opp-name {
      font-size: 14px;
    }
    .opp-price {
      font-size: 16px;
    }
  }
  .status-row  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .opp-item-body {
    border-bottom: 1px solid @border-color;
    padding-bottom: 12px;
  }
  .create-info {
    font-size: 10px;
    color: @text-color-secondary;
  }
  .staff-name {
    margin-right: 6px;
  }
  .opp-item-footer {
    font-size: 10px;
    color: @text-color-secondary;
    padding: 9px 0px 16px 0px;
  }
}
.status-item {
  display: inline-block;
  padding: 0px 16px;
  background-color: @green;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
}
.priority-item {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: #fff;
  // 高级
  &.priority-h {
    background-color:@red;
  }
  // 中级
  &.priority-m {
    background-color: @yellow;
  }
  // 低级
  &.priority-l {
    background-color: @pink;
  }
}