@import "style/theme.less";

.material-manage-page {
  background-color: #fff;
}


.material-page {
  // background-color: #fff;
  @outsideHeight: 48px;
  .ios-substract(height, 100vh, @outsideHeight);
  overflow-y: auto;
  .follow-list-item {
    padding: 0px @body-spacing;
  }
}


.page-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .add-icon-btn {
    font-size: 32px;
    color: @primary-color;
  }
}


.popup-content {
  padding-bottom: 10px;
  .popup-header {
    padding: 20px 15px 29px 15px;
    font-size: 16px;
    position: relative;
    .popup-cancel-text {
      position: absolute;
      left: 15px;
      top: 20px;
      color: @text-color-secondary;
      cursor: pointer;
    }
    .popup-title {
      text-align: center;
      color: #000;
    }
  }
  .type-list {
    padding: 0px 15px;
    .type-list-item {
      background-color: @info-bg;
      border-radius: @border-radius-base;
      margin-bottom: 8px;
      :global {
        .adm-list-item-content {
          border-top: none;
        }
      }
    }
  }
}
