@import "style/theme.less";

.tab-pane {
  // 搜索栏+ tabs + 间距
  @outsideHeight: 54px + 48px + 46px;
  .ios-substract(height, 100vh, @outsideHeight);
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: auto;
}
.tabs {
  :global {
    .ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
      padding: 0px 6px;
    }
  }
}