@import "style/theme.less";

.edit-action {
  color: @primary-color;
}
.remove-action {
  color: @pink;
}
.add-page {
  padding: @body-spacing;
  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
  .follow-form {
    :global {
      .adm-list.adm-list-card {
        margin: 0px;
      }
      .adm-list-body {
        background: none;
      }
      .adm-list-item.adm-form-item {
        margin-bottom: 14px;
        border-radius: @border-radius-base;
      }
      .adm-form-footer {
        padding: 14px 0px;
      }
    }
  }
}

.remind-section {
  .remind-icon {
    margin-right: 6px;
    color: @primary-color;
    width: 22px;
    height: 22px;
  }
}

.task-section {
  margin-bottom: 14px;
  .task-header {
    font-weight: 400;
    .task-title-icon {
      color: @primary-color;
      font-size: 16px;
      margin-right: 7px;
    }
    .task-title-extra {
      .task-add-icon {
        font-size: 16px;
        margin-left: 8px;
      }
    }
    :global {
      .adm-card-header-title {
        font-weight: 400;
        color: @heading-color;
      }
    }
  }
  .task-item {
    position: relative;
    padding: 6px 34px 6px 40px;
    background-color: @info-bg;
    border-radius: @border-radius-base;
    margin-bottom: 10px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    .task-check-icon {
      position: absolute;
      left: 8px;
      top: 6px;
    }
    .tark-action-icon {
      position: absolute;
      right: 16px;
      top: 6px;
      transform: rotate(90deg);
      color: @text-color-secondary;
      font-size: 16px;
    }
    .task-name {
      color: @heading-color;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
    }
    .user-tag {
      margin-right: 10px;
      --border-color: #D9D9D9 !important;
      --text-color: rgba(0, 0, 0, 0.85) !important;
      --background-color: #fafafa !important;
    }
    .create-tag {
      --border-color: @border-color !important;
      --text-color: rgba(0, 0, 0, 0.85) !important;
      --background-color: @border-color !important;
    }
  }
}

.mention-section {
  background-color: #fff;
  border-radius: @border-radius-base;
  padding: 0px 10px 16px 10px;
  margin-bottom: 14px;
  .mention-list {}
  .mention-list-item {
    padding-left: 0px;
    :global {
      .adm-list-item-content {
        padding-right: 0px;
      }
    }
  }
  .mention-icon {
    color: @primary-color;
    font-size: 16px;
    margin-right: 6px;
  }
  .tag-section {
    border-top: 1px solid @border-color;
    padding: 10px 0px;
  }
  .tag-ele {
    margin: 0px 6px 6px 0px;
    word-break: break-all;
    white-space: break-spaces;
  }
  .tag-close-icon  {
    color: @primary-color;
    font-size: 12px;
    cursor: pointer;
    margin-left: 4px;
  }
}