@import 'style/vars.less';

.pageContent {
  background-color: #fff;
  padding: 16px;

  .pageHeader {
    margin-bottom: 12px;
    position: relative;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #eaeaea;
    color: @heading-color;
  }

  .page-extra {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}