@import "style/theme.less";
.modal-content {
  border-radius: @border-radius-base;
  width: 320px;
  padding-top: 12px;
  .content-title {
    color: @text-color-secondary;
    font-size: 12px;
    font-weight: 600;
    padding-left: 16px;
    margin-bottom: 4px;
    &::after {
      content: ":";
      margin-left: 2px;
    }
  }
  .content-text {
    color: @text-color-secondary;
    padding: 0px 16px;
  }
  .content-footer {
    border-top: 1px solid #eaeaea;
    display: flex;
    .footer-action {
      flex: 1;
      text-align: center;
      cursor: pointer;
      padding: 12px 0px;
      &.ok-btn {
        color: @primary-color;
        border-left: 1px solid #eaeaea;
      }
      &.ok-diabled-btn {
        color: #999;
      }
    }
  }
}

.popup-body {
  padding: 16px;
  .popup-header {
    color: @text-color-secondary;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
    &::after {
      content: ":";
      margin-left: 2px;
    }
  }
  .popup-footer {
    display: flex;
    justify-content: space-between;
  }
}