@import "style/theme.less";
.popup-content {
  height: 40vh;
  overflow-y: auto;
}
.radio-ul {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: @info-bg;
  .radio-li {
    
  }
}
