.pull-new-section {
  border: 1px solid #eaeaea;
  padding: 16px;

  .left-side {
    padding-right: 16px;
    border-right: 1px solid #eaeaea;
  }

  .right-side {
    padding-left: 16px;
  }

  .title-tip {
    color: @text-color-secondary;
    font-size: 12px;

    .tip-icon {
      margin-right: 4px;
    }
  }
}