.link-item-wrap {
  position: relative;
  padding-left: 50px;
  min-height: 40px;
  cursor: pointer;
  .linkItem {
    overflow: hidden;
    .linkName {
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 4px;
    }
  
    .linkContext {
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
    }  
  }
  .linkCover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
  }
}
