@import "style/theme.less";
.base-info-section {
  position: relative;
  padding-right: 340px;
  .base-info-right-section {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .welcome-tip {
    text-align: center;
    color: @text-color;
  }
  .qcode-box {
    margin-bottom: 20px;
    text-align: center;
    .code-img {
      width: 100px;
      height: 100px;
      margin-bottom: 8px;
    }
    .code-download-action {
      color: @primary-color;
      cursor: pointer;
    }
  }
}