@import "style/theme.less";

.moment-content {
  .moment-content-header {
    padding: 14px 0px;
  }

  .moment-content-body {
    background-color: @info-bg;
    padding: 14px 20px;
    border-radius: @border-radius-base;
  }

  .follow-time {
    color: @text-color-secondary;
  }
}