@import "style/theme.less";
.result-list {
  background-color: #fff;
  padding: 6px;
  @outsideHeight: 20px + 44px + 12px;
  .ios-substract(height, 100vh, @outsideHeight);
  overflow-y: auto;
  // .ios-substract(maxheight, 100vh, @outsideHeight);
  // height: calc(100vh - @outsideHeight);
  // max-height: calc(100vh - @outsideHeight);
}
.infinite-list {
 
}
.list-item-wrap {
  --border-inner:none;
  :global {
    .adm-list-item-content-main {
      // padding: 0px;
      padding-top: 0px;
    }
  }
}
.list-item {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  .list-item-content {
    padding: 8px 0px 8px 8px;
    border-bottom: 1px solid #eaeaea;
  }
  .list-item-footer {
    @height: 30px;
    text-align: right;
    height:@height;
    line-height: @height;
    padding-right: 12px;
    color: @primary-color;
    cursor: pointer;
  }
}