@import './vars.less';
@primary-color: #7132F8;
@menu-dark-bg: #fff;
@menu-horizontal-line-height: @headerHeight;
@menu-item-color: #666;
@heading-color: #333; // 标题色
@text-color: #666; // 主文本色
@text-color-secondary: #7E7A7A; // 次文本色
@border-radius-base: 4px;
@table-selected-row-bg: fade(@primary-color, 8%);
@table-padding-vertical: 12px;
@table-padding-horizontal: 12px;
@font-size-base: 14px;

@success-color: @green;
@error-color:#ff4d4f;
@warning-color:#faad14;
@borderColor: #eaeaea;

.tag-color {
  border-color: #cfadff;
  background-color: #f7f0ff;
  color: @primary-color;
}