@siderWidth: 240px;
@headerHeight: 48px;
@breadCrumbHeight: 32px;
@border-color: #e7e7e7;
.big-section {
  border-radius: 6px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}
@green: #57A65B;
@red: #D6503F;
@yellow: #F0BF42;
@blue: #5483ED;
@gray: #EFEDED;
@tip-color: #7E7A7A;
@info-bg: #FBFBFD;