@import "style/theme.less";
.material-list-item {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 10px;
  .radio-item {
    margin-right: 8px;
  }
  &.material-list-checked-item {
    background-color: fade(@primary-color, 5%);
  }
  .material-list-item-content {
    flex:1;
    overflow: hidden;
  }
}
.material-item {
  position: relative;
  min-height: 60px;
  padding: 0px 50px 0px 50px;
  .item-cover {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .material-item-title {
    text-overflow: ellipsis;
  }
  .material-item-title-text {
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
  }
  .material-item-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
  }
  .material-item-tag {
    position: absolute;
    right: 0px;
    top: 0px;
  // 海报
    &.type-1 {}
    // 图片
    &.type-2 {}
    // 文本
    &.type-3 {}
    // 小程序
    &.type-4 {}
    // 文章
    &.type-5 {
      background-color: rgba(205,32,31, 1);
    }
    // 视频
    &.type-6 {}
    // 链接
    &.type-7 {
      background-color: rgb(85, 172, 238);
    }
    // 文件
    &.type-8 {}
  }
  .send-icon {
    cursor: pointer;
    color: @primary-color;
    position: absolute;
    // top: 50%;
    right: 10px;
    top: 30px;
    // transform: translateY(-50%);
  }
}
