@import "style/theme.less";
.popup-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px @body-spacing;
  border-top: 1px solid @border-color;
  .ok-button {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.dot-item {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  &.done-dot {
    background-color: @primary-color;
  }
  &.undone-dot {
    background-color: #e5e5e5;
  }
}

.form-content {
  height: 30vh;
  overflow-y: auto;
}

.disabled-ok-btn {
  color: fade(@text-color-secondary, 30%) !important;
  cursor: not-allowed;
}
