@import "style/theme.less";

.file-name-input {
  .file-name {
    color: @heading-color;
    margin-right: 6px;
  }
  .action {
    cursor: pointer;
    color: @primary-color;
    &:nth-of-type(1) {
      margin-right: 4px;
    }
  }
}