@import "style/theme.less";

.page {
  overflow-y: auto;
  max-height: 100vh;

  .page-header {
    background-color: @headerBgColor;
    height: 154px;
    padding: @body-spacing;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .customer-avatar-info {
      display: flex;
    }

    .customer-avatar {
      flex: 1;
      word-break: break-all;
    }

    .principal-item {
      color: #fff;
      max-width: 50%;
      word-break: break-all;
      font-size: 14px;

      .principal-name {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 2px 6px;
        margin-left: 4px;
        line-height: 14px;
        min-height: 20px;
      }
    }

    .actions-ul {
      display: flex;
      justify-content: center;
    }

    .action-item {
      margin-right: 20px;
      border: 1px solid #fff;
      @size: 30px;
      width: @size;
      height: @size;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:nth-last-of-type(1) {
        margin-right: 0px;
      }

      &.action-item-disabled {
        border-color: @text-color-secondary;
        cursor: not-allowed;

        .action-icon path {
          fill: @text-color-secondary;
        }
      }
    }

    .action-icon {
      max-width: 20px;
      max-height: 20px;
    }
  }
  .customer-stage {
    margin-bottom: 12px;
    .customer-stage-list {
      :global {
        .adm-list-body {
          border-radius: @border-radius-base;
        }
      }
    }
  }
  .page-body {
    padding: @body-spacing;

    :global {
      .customer-related-collapse+.adm-collapse-panel-content {
        margin: 0px;
        padding-right: 0px;
      }
    }
  }

  .customer-follow-tab {
    padding: 0px;

    .list-item-name {
      color: #000;
    }
  }
  .customer-tabs {
    background-color: #fff;
    border-radius: @border-radius-base;
    margin-top: 12px;

    .tab-content {
      overflow-y: auto;
    }
    .moment-infinite-list {
      padding: 0px;
    }

    :global {
      .adm-tabs-header {
        position: sticky;
        background-color: #fff;
        border-radius: @border-radius-base @border-radius-base 0px 0px;
        top: 0px;
        z-index: 2;
        left: 0px;
      }
    }
  }

  .baseinfo-list {
    padding: 0px;
  }

  .baseinfo-item {
    border-bottom: none;
    background: @info-bg;
    margin-bottom: 4px;
    padding: 10px 26px 10px 6px;

    :global {
      .adm-list-item-content {
        border-top: none;
      }
    }
  }
}

.tags-section {
  background: #fff;
  border-radius: @border-radius-base;
  position: relative;
  padding-right: 14px;

  .tags-ele {
    margin-bottom: 4px;
    margin-right: 4px;
    word-break: break-all;
    white-space: break-spaces;
  }

  .tag-close-icon {
    margin-left: 2px;
  }

  .tags-arrow {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #EFEDED;
  }
}
