<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.BrCustomerFollowMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ext_corp_id, ext_customer_id, content, share_ext_staff_ids, creator_ext_id, created_at, updated_at, deleted_at, type, isTodo, remind_at, job_id
    </sql>

</mapper>
