<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.BrGroupChatWelcomeMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, msg, group_chat_ext_ids, is_notice_owner, ext_corp_id, created_at, updated_at, creator, editor, deleted_at
    </sql>

</mapper>
