<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.BrMediaSayMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ext_corp_id, group_id, msg, title, has_person, send_num, creator_id, created_at, updated_at, deleted_at
    </sql>

</mapper>
