<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.BrMediaCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scrm.server.wx.cp.entity.BrMediaCount">
        <id column="id" property="id" />
        <result column="ext_corp_id" property="extCorpId" />
        <result column="type" property="type" />
        <result column="type_id" property="typeId" />
        <result column="send_count" property="sendCount" />
        <result column="date" property="date" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ext_corp_id, type, type_id, send_count, date, create_time, update_time
    </sql>
    <select id="checkToday" resultType="com.scrm.server.wx.cp.entity.BrMediaCount">
        select *
        from br_media_count
        where ext_corp_id = #{extCorpId}
        and type = #{type}
        and type_id = #{typeId}
        and date_format(date,'%Y-%m-%d') = date_format(#{today},'%Y-%m-%d')
    </select>
    <select id="sumByDate" resultType="java.lang.Integer">
        select sum(send_count)
        from br_media_count
        where ext_corp_id = #{extCorpId}
        and date_format(date,'%Y-%m-%d') = date_format(#{date},'%Y-%m-%d')
    </select>
    <select id="countSendCount" resultType="java.lang.Integer">
        select sum(send_count)
        from br_media_count
        where type = #{type} and type_id = #{typeId}
    </select>

</mapper>
