<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.BrSaleTargetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scrm.server.wx.cp.entity.BrSaleTarget">
        <id column="id" property="id" />
        <result column="ext_corp_id" property="extCorpId" />
        <result column="month" property="month" />
        <result column="creator_ext_id" property="creatorExtId" />
        <result column="staff_ext_id" property="staffExtId" />
        <result column="target" property="target" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_at" property="deletedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ext_corp_id, month, creator_ext_id, staff_ext_id, target, created_at, updated_at, deleted_at
    </sql>

</mapper>
