<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.WxCustomerTagAddInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scrm.server.wx.cp.entity.WxCustomerTagAddInfo">
        <id column="id" property="id" />
        <result column="ext_corp_id" property="extCorpId" />
        <result column="tag_id" property="tagId" />
        <result column="customer_id" property="customerId" />
        <result column="is_successful" property="isSuccessful" />
        <result column="fail_type" property="failType" />
        <result column="fail_msg" property="failMsg" />
        <result column="fail_log" property="failLog" />
        <result column="param" property="param" />
        <result column="created_at" property="createdAt" />
        <result column="creator" property="creator" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ext_corp_id, tag_id, customer_id, is_successful, fail_type, fail_msg, fail_log, param, created_at, creator, updated_at
    </sql>

</mapper>
