<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrm.server.wx.cp.mapper.WxStaffTransferInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scrm.api.wx.cp.entity.WxStaffTransferInfo">
        <id column="id" property="id"/>
        <result column="ext_corp_id" property="extCorpId"/>
        <result column="status" property="status"/>
        <result column="takeover_time" property="takeoverTime"/>
        <result column="customer_id" property="customerId"/>
        <result column="takeover_staff_id" property="takeoverStaffId"/>
        <result column="handover_staff_id" property="handoverStaffId"/>
        <result column="create_time" property="createTime"/>
        <result column="creator_userid" property="creator"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ext_corp_id, status, takeover_time, customer_id, takeover_id, handover_id, create_time, creator
    </sql>
    <select id="waitTransferCustomerPage" resultType="com.scrm.api.wx.cp.entity.WxCustomer">
        select c.*
        from wx_customer_staff m
        join wx_staff s on s.id = m.staff_id
        join wx_customer c on m.customer_id = c.id
        left join wx_staff_transfer_info i on i.customer_id = c.id and m.staff_id = i.handover_staff_id and i.type = 1
        <where>
            i.id is null and c.has_delete is not null
            <if test="dto.extCorpId != null and dto.extCorpId != ''">
                and c.ext_corp_id = #{dto.extCorpId}
            </if>
            <if test="dto.staffId != null and dto.staffId != ''">
               and s.id = #{dto.staffId}
            </if>
            <if test="dto.keyword != null and dto.keyword != ''">
                and s.id like concat('%',#{dto.keyword},'%')
            </if>
        </where>

    </select>
</mapper>
