.footer {
  // position: absolute;
  // bottom: 0px;
  // left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: row;
  .btn {
    // width: 100%;
    border-radius: 8px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #F0BF42;
    // display: block;
    flex: 1;
    color: #FE0808;
  }
}