@import "style/theme.less";

.group-list-item {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  width: 100%;
  .group-info {
    flex: 1;
    max-width: 50%;
    padding-right: 5px;
    word-break: break-all;
  }
  .create-time {
    padding-left: 5px;
    max-width: 50%;
    flex: 1;
    word-break: break-all;
    text-align: right;
    font-size: 12px;
    color: @text-color-secondary;
  }
  .create-time-str {
    margin-right: 4px;
  }
  .group-owner-label {
    font-size: 12px;
    color: @text-color-secondary;
    margin-right: 2px;
    &::after {
      content: ":";
      display: inline-block;
      margin: 0px 2px;
    }
  }
  .group-owner {
    font-size: 12px;
    color: @primary-color;
    font-weight: 600;
  }
}