@import "style/theme.less";
.drawer-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: @body-spacing @body-spacing 16px @body-spacing;
  background-color: @body-color;
  .header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
  .left-title {
    margin-left: 6px;
  }
}
.my-drawer {
  :global {
    .ant-drawer-body {
      padding: 0px;
      background-color: @body-color;
      overflow: hidden;
      .ios-padding(padding-bottom);
    }
  }
}