.video-item {
  .video-title {
    font-size: 22px;
    line-height: 1.4;
    color: #222;
    margin-bottom: 14px;
  }
  .video-description {
    font-size: 14px;
    color: #666;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .video-ele {
    width: 100%;
    margin-top: 60px;
  }
}