@import "style/theme.less";

.index-pane {
  background-color: #fff;
  border-radius: @border-radius-base;
  .pane-content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid @border-color;
    padding: 9px 17px 12px 17px;
  }
  .index-li-item {
    margin-bottom: 8px;
    width: 50%;
    &:nth-of-type(2n + 1) {
      padding-right: 18px;
    }
    &:nth-of-type(2n) {
      padding-left: 18px;
    }
  }
  .pane-footer {
    padding: 7px 12px;
  }
  .user-info {
    display: flex;
    align-items: center;
    .user-avatar {
      margin-right: 6px;
    }
    .user-name {
      color: @heading-color;
    }
  }
}

.index-item {
  display: flex;
  justify-content: space-between;
  background-color: @info-bg;
  padding: 8px;
  border-radius: @border-radius-base;

  .index-icon {
    display: inline-block;
    margin-bottom: 8px;
    width: 14px;
  }

  .index-name {
    font-size: 14px;
    color: @text-color-secondary;
    line-height: 20px;
  }

  .index-item-extra {}

  .index-num {
    font-size: 16px;
    color: @heading-color;
    font-weight: 600;
  }
  .more-icon {
    margin-left: 4px;
    font-size: 16px;
  }
}