@import "style/theme.less";
.customer-avatar {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  .avatar-img {
    margin-right: 15px;
  }
  .user-name-row {
    .user-remark {
      color: #fff !important;
      margin-right: 4px;
    }
    &.company {
      color: @yellow;
    }
    &.wechat {
      color: @green;
    }
  }
}