.attach-file-item {
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }

  .attach-file-content {
    background-color: @info-bg;
    border-radius: @border-radius-base;
    border: 1px solid @border-color;
    padding: 6px 6px 4px 36px;
    color: @heading-color;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .attach-file-icon {
      position: absolute;
      left: 6px;
      top: 6px;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .download-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
  }
}