@import "style/theme.less";
.mix-list {
  padding: @body-spacing @body-spacing 0px;
  .material-item {
    margin-bottom: 0px;
    border: 1px solid @border-color;
    border-radius: @border-radius-base;
  }
  .list-item {
    margin-bottom: 8px;
    &:nth-of-type(1) {
      border-top: 1px solid @border-color;
    }
    :global {
      .adm-list-item-content-main {
        padding: 0px;
      }
    }
  }
}