.tabpane {
  padding-left: 16px !important;
}
.list-item-wrap {
  display: flex;
  justify-content: center;
  :global {
    .adm-list-item-content-main {
      padding: 0px;
    }
  }
  margin-bottom: 12px;
}