@import "src/style/theme.less";

.group-item-content {
  @outside: 210px;
  padding: 0px @body-spacing;
  overflow-y: auto;
  .ios-substract(height, 100vh, @outside);
}

.script-content {
  @outside: 210px;
  // @contentHeight: calc(100vh - 220px);
  background-color: #fff;
  padding: 16px 0px;

  // margin-bottom: 20px;
  // .msg-ul {
  //   .ios-substract(height, 100vh, @outside);
  //   overflow-y: auto;
  // }

  .tabs-content {
    .ios-substract(height, 100vh, @outside);
  }
}