@import "style/theme.less";

.radio-item-wrap {
  background-color: @info-bg;
  padding: 18px;
  border-radius: @border-radius-base;
  margin-bottom: 8px;
  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }
}