@import "src/style/theme.less";
.search-wrap {
  display: flex;
  background-color: #EFEFF4;
  .input-with-text {
    flex: 1;
  }
  .search-btn {
    color: @primary-color;
    cursor: pointer;
    line-height: 32px;
    display: block;
    margin-left: 8px;
    &.hide-search {
      display: none;
    }
  }
}