.page {
  height: 100vh;
  padding: 40px 10px;

  .tip-wrap {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .emoji-icon {
      margin-bottom: 32px;
      width: 68px;
      height: 68px;
    }
  }
}
