@import "style/theme.less";
.tag-color(@color) {
  background-color: fade(@color, 38%);
  border-color: @color;
}
.moment-item {
  padding: 0px 9px 27px 9px;
  background-color: @info-bg;
  .moment-item-header {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px 16px 0px;
    border-radius: @border-radius-base;
  }
  .monent-tag-wrap {
    max-width: 40%;
    min-width: 40%;
  }
  .moment-tag {
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 12px;
    
    &.follow {
      .tag-color(@yellow);
    }
    &.update-opp {
      .tag-color(@green);
    }
    &.update-task {
      .tag-color(@blue);
    }
  }
  .moment-time {
    color: @heading-color;
    font-size: 12px;
    word-break: break-all;
    padding-left: 4px;
  }
  .moment-operate-info {
    margin-bottom: 8px;
  }
  .moment-content {
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
  }
}

.staff-name {
  margin-right: 4px;
  font-weight: 600;
}
.staff-action {
  margin-right: 4px;
}
.staff-action-object {
  font-weight: 600;
  color: @heading-color;
}