@import "style/theme.less";
.page {
  &.page-nav {
    padding-top: 40px;
  }
  .page-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: @body-color;
    width: 100%;
  }
  .page-footer {
    background-color: @info-bg;
    text-align: right;
    padding: 12px @body-spacing;
  }
}