@import "style/theme.less";

.follow-form {
  :global {
    .adm-list-body {
      background-color: @body-color;
    }
  }
}
.add-follow-page {
  padding: @body-spacing;

  .select-customer-section {
    margin-bottom: 16px;

    :global {
      .adm-list-body {
        border-radius: @border-radius-base;
      }
    }
  }

  .input-text-section {
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: @border-radius-base;
    padding: 12px;
  }
}

.extra-text {
  overflow: hidden;
  text-overflow: ellipsis;
}




.share-users {
  border-radius: @border-radius-base;
  background-color: #fff;

  .share-users-header {
    border-bottom: 1px solid @border-color;
    :global {
      .adm-list-body {
        border-radius: @border-radius-base @border-radius-base 0px 0px;
      }
    }
    &.share-users-no-header {
      border-bottom: none;
      :global {
        .adm-list-body {
          border-radius: @border-radius-base;
        }
      }
    }
  }
  .share-users-content {
    padding: 0px 0px 18px 27px;
    &.share-users-no-content {
      padding-bottom: 0px;
    }
  }

  .unselect-text {
    color: @text-color-secondary;
    font-size: 12px;
  }
}