@import "style/theme.less";

.view-mode-box {
  .mode-item {
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;

    &.active-mode-item {
      color: @primary-color;
    }
  }
  .mode-item:nth-last-of-type(1) {
    margin-right: 0px;
  }
}