@import "style/theme.less";
.welcome-setting {
  border-top: 1px solid #eaeaea;
  padding: 12px 340px 0px 0px;
  position: relative;
  .preview-section {
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .welcome-setting-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: @heading-color;
    margin-bottom: 12px;
  }
}