@import "style/theme.less";
.dateCard-header {
  padding: 0p
}
.follow-header {
  position: relative;
  padding: 16px 140px 16px 0px;
  .staff-name {
    margin-right: 4px;
    font-weight: 600;
    color: @heading-color;
  }
  .follow-header-extra {
    position: absolute;
    right: 0px;
    top: 16px;
  }
  .follow-time {
    margin-right: 4px;
  }
  .arrow-icon {
    cursor: pointer;
  }
}
.momentItemWrap {
  padding-top: 0px;
}
.momentContentHeader {
  padding: 0px !important;
}
.momentItemBody {
  padding-top: 0px;
}