@import "style/theme.less";

.search-bar {
  padding: @body-spacing @body-spacing 12px @body-spacing;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: @body-color;
}

.product-page {
  background-color: #fff;
  .product-page-body {
    padding: 0px @body-spacing @body-spacing @body-spacing;
  }
  .product-stat {
    height: 20px;
    margin: 9px 0px;
    font-size: 14px;
    color: @heading-color;
    .product-total-count {
     font-weight: 600;
     margin: 0px 4px;
    }
  }

  .infinite-list-wrap {
    @outsideHeight: 54px + 46px;
    .ios-substract(height, 100vh, @outsideHeight);
    overflow-y: auto;
  }

  .product-list-item {
    margin-bottom: 8px;

    :global {
      .adm-list-item-content-main {
        padding: 0px;
      }
    }
  }

}