@import "style/theme.less";
.ul-list-item {
  width: 100%;
  padding: 0px @body-spacing;
  margin-bottom: 9px;
  border-radius:@border-radius-base;
  :global {
    .adm-list-item-content {
      flex: 1;
    }
  }
}