@import "style/theme.less";
.product-item {
  padding: 12px;
  background-color: @info-bg;
  border-radius: @border-radius-base;
  .product-item-content {
    display: flex;
    .product-pic {
      width: 60px;
      height: 60px;
      margin-right: 16px;
    }
    border-bottom: 1px solid @border-color;
  }
  .product-info {
    flex: 1;
  }
  .product-info-header {
    width: 100%;
    display: flex;
    color: @heading-color;
    font-weight: 600;
    justify-content: space-between;
    .product-name {
      max-width: 60%;
      word-break: break-all;
    }
    .product-price {
      max-width: 40%;
      padding-left: 12px;
      word-break: break-all;
    }
    margin-bottom: 8px;
  }
  .produt-attrs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .attr-item {
      color: @text-color-secondary;
      background-color: @gray;
      padding: 3px 13px;
      display: inline-block;
      border-radius: 4px;
    }
  }
  .create-info {
    margin-bottom: 14px;
    font-size: 10px;
    color: @text-color-secondary;
  }
  .product-item-footer {
    padding: 10px 4px 0px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .link-btn {
    padding: 3px 14px;
    border: 1px solid @primary-color;
    color: @primary-color;
    display: inline-block;
    border-radius: 12px;
  }
  .creator {
    margin-right: 8px;
  }
}