.page {
  height: 100vh;
  .page-body {
    padding: 40px 10px;
  }
  .tip-wrap {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .emoji-icon {
      margin-bottom: 32px;
      width: 68px;
      height: 68px;
    }
  }
}

.qcode-box {
  text-align: center;
  .tip {
    color: #999;
    margin-bottom: 12px;
  }
  .qcode-img {
    width: 160px;
    height: 160px;
    margin-bottom: 12px;
  }
}
