@import "style/theme.less";

.form {
  :global {
    .adm-list-card {
      background-color: @body-color;
    }

    .adm-list.adm-list {
      margin: 0px;
    }
    .adm-form-footer {
      padding: 14px 0px;
    }
  }
}

.form-item {
  background-color: @body-color;
  padding: 0px;

  :global {
    .adm-list-item-content-main {
      padding: 0px;
      margin-bottom: 16px;
    }

    .adm-form-item-label {
      margin-bottom: 12px;
    }

    .adm-list-item-content {
      padding: 0px;
    }

    .adm-form-item-child {
      background-color: #fff;
      padding: 10px;
      border-radius: @border-radius-base;
    }
  }
}