@import "style/theme.less";
.add-customer-page {
  padding: @body-spacing;
  :global {
    .adm-list-item {
      background-color: @body-color;
      padding-left: 0px;
      .adm-list-item-content {
        padding-right: 0px;
      }
    }
    .adm-list-card {
      margin: 0px;
    }
    .adm-list-item-content-main {
      padding: 0px;
    }
  }
  .textarea {
    background-color: #fff;
    padding: 10px;
    border-radius: @border-radius-base;
    margin-bottom: 14px;
  }
  .add-icon-wrap {
    border: 1px solid #EFEDED;
    padding: 14px;
    margin-bottom: 22px;
    background-color: #fff;
    display: inline-block;
    .add-icon {
      font-size: 18px;
      color: #EFEDED;
    }
  }
  .name-section {}
  .mass-name {
    color: #333;
    font-size: 14px;
    margin-bottom: 14px;
  }
  .name-input-wrap {
    border-radius: @border-radius-base;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 66px;
  }
  .file-form-item {
    :global {
      .adm-list-item-content-main {
        overflow: hidden;
        & > {
          .adm-form-item-child {
            display: unset;
          }
        }
      }
    }
  }
}

.page {
  @footerHeight: 58px;
  .page-body {
    .ios-padding(padding-bottom, @footerHeight);
  }
  .page-footer {
    .ios-padding(height, @footerHeight);
  }
}

.footer-container {
  padding: 10px;
  .send-btn {
    width: 100%;
  }
  text-align: center;
}