@import "style/vars.less";
.page {
 .big-section();
 background-color: #fff;
 .page-body {
   padding-top: 16px;
   height: calc(100vh - 140px);
   overflow-y: auto;
 }
  .page-footer {
    border-top: 1px solid #eaeaea;
    padding: 10px 0px;
    text-align: center;
  }
}