@import "src/styles/theme.less";
.single-stage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  .stage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .invite-tip {
    color: @primary-color;
    margin-bottom: 20px;
  }
  .need-invite-tip {
    color: @primary-color;
    margin-bottom: 16px;   
  }
  .gif-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }
}