@import "style/theme.less";

.file-name-input {
  width: calc(100% - 100px);
}
.refill-action {
  cursor: pointer;
  margin-left: 14px;
  color: @primary-color;
  position: absolute;
  right: 0px;
  top: 0px;
}