html,body {
  user-select: none;
  padding: 0px;
  margin: 0px;
  background-image: url('./assets/image/bg.png');
  background-size: 100% 100%;
  font-size: 14px;
  height: 100%;
}
body {
  
}
#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img, p,h1,h2 {
  margin: 0px;
}
