@import "style/theme.less";

.activity-info {
  padding-right: 400px;
  position: relative;
  .preview-side {
    position: absolute;
    right: 20px;
  }
  .preview-section {
    margin-bottom: 20px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    .preview-section-title {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .poster-phone {
    width: 274px;
    height: 535px;
    background-image: url("../../../../../assets/images/phone.jpg");
    background-size: 100% 100%;
    // padding: 100px 28px;
    padding: 40px 19px;
  }
}
.link-item {
  position: relative;
  padding-right: 20px;
  word-break: break-all;
  display: inline-block;
  .copy-action {
    position: absolute;
    right: 4px;
    top: 4px;
    .done-icon {
      cursor: pointer;
      color: rgb(82, 196, 26);
    }
    .copy-icon {
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
    }
  }
}

.expired-time {
  margin-left: 6px;
}
.code-cell {
  width: 100px;
  display: inline-block;
  img {
    width: 100px;
    height: 100px;
  }
  .code-cell-footer {
    padding-top: 8px;
    text-align: center;
  }
}