
.customer-text {
  font-size: 14px;
  line-height: 14px;
 .customer-name {
   color: @heading-color;
   font-weight: 600;
 }
 .customer-source{
   color: green;
 }
 .ww-source{
   color: #faad14;
 }
}