@import "style/theme.less";

.page {
  height: 100%;
  @header: 48px;

  .tabs-info {
    display: flex;
    justify-content: center;
    position: sticky;
    top: @header;
    z-index: 1;
    background-color: @info-bg;
    width: 100%;
    padding: 16px 0px @body-spacing 0px;
  }

  .page-body {
    padding-top: @header;
  }

  .search-section {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: @body-color;
    height: @header;
    padding: 8px;
  }

  .selected-ul-wrap {
    padding: 0px @body-spacing @body-spacing @body-spacing;
    background-color: @info-bg;

    :global {
      .adm-list-body {
        background-color: @info-bg;
      }
    }

    .customer-ul {
      height: calc(100% - 60px);
      padding-left: 20px;
    }

    .ul-list-item {
      width: 100%;
      // padding: 0px @body-spacing;
      padding: 0px 5px 0px 16px;
      border-radius: @border-radius-base;

      :global {
        .adm-list-item-content {
          flex: 1;
        }
      }
    }
  }
}