@import "style/theme.less";
.text-item {
  .text-name {
    color: @heading-color;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .text-content {
    color: @text-color;
    font-size: 12px;
  }
}