.login-container {
  background: #f5f6f7;
  height: 100%;
  padding-top: 120px;
}
.qrcode-container {
  background-color: #fff;
  width: 340px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}