.excel {
  color: rgba(71, 179, 71, 1);
}
.word {
  color: rgba(85, 143, 242, 1);
}
.ppt {
  color: rgba(242, 115, 61, 1);
}
.video {
  color: rgba(57, 60, 72, 1);
}
.image {
  color: blue;
}
.pdf {
  color: rgba(235, 94, 94, 1);
}