.stat-box {

}

@import "style/theme.less";
.stat-section {
  display: flex;
  justify-content: space-between;
  .customer-stat {
    flex: 1;
    margin-right: 6px;
  }
  .group-stat {
    flex: 1;
    margin-left: 6px;
  }
}
.stat-box {
  background-color: #fff;
  border-radius: @border-radius-base;
  padding: 12px 10px 18px 12px;
  .stat-box-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    align-items: top;
  }
  .total-icon {
    text-align: center;
  }
  .icon-ele {
    margin-bottom: 12px;
    width: 42px;
    height: 42px;
  }
  .total-count {
    font-size: 24px;
    font-weight: 600;
    color: @primary-color;
    padding-right: 22px;
  }
  .total-label {
    font-size: 14px;
    color: @text-color-secondary;
  }
  .stat-box-bottom {
    display: flex;
    justify-content: space-between;
  }
  .stat-item {
    text-align: center;
  }
  .stat-item-count {
   font-size: 24px;
   font-weight: 600;
   line-height: 24px;
   margin-bottom: 14px;
   &.stat-add-count {
     color: @green;
   }
   &.stat-lose-count {
     color: @pink;
   }
  }
  .stat-item-label {
    font-size: 14px;
    color: @text-color-secondary;
  }
}