@import "src/styles/theme.less";

.activity-info {
  ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .activity-time {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
    .date-item {
      margin: 0px 4px;
    }
  }
  .invite-doc {
    padding: 20px 14px;
    border-radius: 10px;
    margin-bottom: 14px;
    background-color: @section-bgColor;
    .tip-item {
      color: @primary-color;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 12px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }
  }
  .invite-tip {
    color: @primary-color;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .progress-content {
    padding-top: 20px;
  }
  .power-user-section {
    padding-top: 20px;
    .no-power-user {
      color: @primary-color;
      text-align: center;
    }
  }
  .invite-section {
    border-radius: 10px;
    padding-bottom: 40px;
  }
}

.date-item {
  display: inline-block;
  background-color: @section-bgColor;
  color: @primary-color;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  width: 28px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1px;
}
.receiver-btn {
  display: inline-block;
  background-color: @primary-color;
  color: #fff;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 10px;
  line-height: 10px;
  &.disabeld-btn {
    background-color: fade(@primary-color, 45%);
  }
}