@import "style/theme.less";
.statics-card {
  border: 1px solid #eaeaea;
  padding: 16px;
  border-radius: 4px;
  .statics-card-header {
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
  }
  .statics-card-title {
    position: relative;
    margin-bottom: 22px;
    .title-text {
      color: @heading-color;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .detail-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    color: @primary-color;
    cursor: pointer;
  }
  .num-item {
    font-family: 'HarmonyBold';
    font-size: 24px;
  }
  .index-statics {
    margin-bottom: 12px;
  }
}