@import "style/theme.less";
.date-dynamic {
  .date {
    margin-bottom: 16px;
  }
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  margin-bottom: 16px;
  .new-text {
    color: @heading-color;
    font-weight: 600;
    margin: 0px 2px;
  }
  .old-text {
    color: @text-color-secondary;
    font-weight: 600;
    margin: 0px 2px;
  }
  .moment-content-operation {
    margin-bottom: 8px;
  }
}

.metrial-item {
  border: 1px solid #eaeaea;
  padding: 4px 8px;
  border-radius:  @border-radius-base;
  margin-bottom: 12px;
}
.follow-item {
  background-color: @info-bg;
  padding: 4px 8px;
  border-radius: @border-radius-base;
  margin-bottom: 12px;
  .follow-text {
    color: @heading-color;
  }
}