.upload-file-btn {
  border-radius: 4px;
  border: 1px solid #eaeaea;
  width: 120px;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  .icon {
    font-size: 28px;
    color: #d2d2d2;
    margin-bottom: 4px;
  }
}