.filter-box {
  padding: 12px;
  background: #fafafa;
}
.tag-filter-name {
  margin-left: 12px;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}