@import "style/theme.less";
.follow-page {
  @outsideHeight: 48px;
  .ios-substract(height, 100vh, @outsideHeight);
  overflow-y: auto;
  .follow-list-item {
    padding: 0px @body-spacing;
  }
}


.page-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .add-icon-btn {
    font-size: 32px;
    color: @primary-color;
  }
}

.follow-moment-header {
  display: flex;
  justify-content: space-between;
  background-color: @info-bg;
  padding: 6px;
  .follow-time {
    display: inline-block;
    max-width: 40%;
  }
}


.follow-staff {
  display: flex;
  align-items: center;
  overflow: hidden;
  .staff-avatar {
    margin-right: 4px;
  }
}