@import "style/theme.less";

.video-upload {
  margin-bottom: 0px;
}
.video-form-item {
  :global {
    .adm-form-item-child {
      background-color: @body-color;
      padding: 0px;
    }
  }
}