@import "src/styles/theme.less";

.steps-container {
  display: flex;
  background: @section-bgColor;
  &.steps-container-center {
    justify-content: center;
  }
}

.step-item {
  flex: 1;
  // padding-right: 12px;
  @sortWdith: 30px;
  // &.step-single-item {
  //   flex: 0.5;
  // }
  &:nth-last-of-type(1) {
    flex: none;
    // .step-item-header {
    //   .step-count {
    //     margin-left: 0px;
    //   }
    // }
  }
  // &:nth-last-of-type(1) {
  //   &.disabled-step-item{
  //     flex: none;
  //   }
   
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }

  &.disabled-step-item {
    .step-item-header {
      .step-count {
        background: @section-bgColor;
        color: #9E9B9B;
        border: 1px solid #9E9B9B;
      }

      .step-title-container::before {
        background-color: #9E9B9B;
      }

      .step-name {
        color: #9E9B9B;
      }
    }
  }
  // 居中模式
  &.step-center-mode-item {
    .step-title-container {
      min-width: 50%;
      justify-content: end;
    }
    .step-title-container:nth-last-child(1) {
      justify-content: start;
    }
  }
  .step-item-header {
    position: relative;
    display: flex;
    align-items: center;
    color: @primary-color;
    margin-bottom: 16px;
    .step-title-container {
      position: relative;
      display: flex;
      line-height: 24px;
    }

    .step-item-line {
      height: 1px;
      border-bottom: 1px solid @primary-color;
      // border: 1px solid @primary-color;
      margin: 0px;
      flex: 1;
    }

    .step-name {
      background: #FFF0D9;
      padding-right: 10px;
    }

    .step-count {
      @width: 24px;
      @space: @sortWdith - 24px;
      display: block;
      width: @width;
      height: @width;
      line-height: @width;
      border-radius: 50%;
      text-align: center;
      font-size: 14px;
      background: @primary-color;
      color: #fff;
      margin: 0px @space;
      border: 1px solid @primary-color;
      // position: absolute;
      // left: 0px;
      // top: 0px;
    }
  }

}