@import "style/theme.less";

.section {
  .section-header {
    color: @heading-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 12px;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 5px;
      height: 12px;
      background: @primary-color;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .section-body {

  }
}