.transferContainer {
  @borderColor: #eee;
  @headerHeight: 52px;
  width: 100%;

  .rightCol {
    .list-item {
      padding-right: 20px;
    }
  }
  .transferFooter {
    padding-top: 12px;
  }
}
