@import "style/theme.less";
.associates-section {
  background-color: @info-bg;
  padding: 16px 18px;
  border-radius: 6px;
  .user-item {
    display: inline-block;
    padding: 12px 14px;
    background-color: #fff;
    margin: 0px 22px 10px 0px;
  }
}