@import "style/theme.less";

.follow-item {
  padding-top: 10px;
  .follow-text {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: @border-radius-base;
    margin-bottom: 10px;
    color: @heading-color;
  }
}

.mention-user {
  background-color: #fff;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: @border-radius-base;
  .mention-code {
    font-size: 18px;
    color: @primary-color;
    margin-right: 4px;
  }
  .divide-code {
    margin: 0px 2px;
  }
  .mention-user-header {
    color: @heading-color;
    margin-bottom: 8px;
  }
  .user-item {
    margin: 0px 4px 4px 0px;
    word-break: break-all;
    white-space: break-spaces;
  }
}