@import "style/theme.less";

.follow-item {
  padding-top: 10px;
  .follow-text {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: @border-radius-base;
    color: @heading-color;
    margin-bottom: 10px;
  }
}