.poster-container {
  position: relative;
  .start-action {
    opacity: 0.1;
  }
  .end-action {
    opacity: 0.6;
  }

  .touch-tip {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 14px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 24px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-name: breathe;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
  }

  @keyframes breathe {
    0% {
      .start-action();
    }

    100% {
      .end-action();
    }
  }

  @-webkit-keyframes breathe {
    0% {
      .start-action();
    }

    100% {
      .end-action();
    }
  }

}