@import "style/theme.less";
.wrap {
  background: @primary-color;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  padding-top: (60px - 48px) / 2;
  text-align: center;
  .icon {
    font-size: 48px;
    color: #fff;
  }
}